{% include "partials/tags.html" %}
{% include "partials/actions.html" %}
{% if "\x3ch1" not in page.content %}
<h1>{{ page.title | d(config.site_name, true)}}</h1>
{% include "partials/source-file.html" %}
{% else %}
{% set split_content = page.content.split("</h1>", 1) %}
{{ split_content[0] | safe }}</h1>
{% include "partials/source-file.html" %}
{{ split_content[1] | safe }}
{% endif %}
{% include "partials/feedback.html" %}
<!-- {% include "partials/comments.html" %} -->
{% if page.meta.comments %}
<!-- Insert generated snippet here -->
<script src="https://giscus.app/client.js" data-repo="NPU-Home/NPU-Home.github.io" data-repo-id="R_kgDOMcZtsA"
  data-category="General" data-category-id="DIC_kwDOMcZtsM4ChP2s" data-mapping="title" data-strict="0"
  data-reactions-enabled="1" data-emit-metadata="1" data-input-position="top"
  data-theme="https://cdn.mengze.vip/gh/GaoZQi/rounded-giscus@main/round-auto_1.0.css" data-lang="zh-CN"
  data-loading="lazy" crossorigin="anonymous" async></script>
{% endif %}