.md-header,
.md-tabs {
    background: var(--md-primary-fg-color);
    color: var(--md-primary-bg-color);
}

.md-header {
    border-bottom: 1px solid var(--robot-border);
}

.md-header__topic {
    font-size: .95rem;
    font-weight: 700;
}

.md-header--shadow {
    box-shadow: none;
}

@media screen and (min-width: 60em) {
    .md-tabs {
        border-bottom: 1px solid var(--robot-border);
    }
}
